<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <div>
          <div>

            <a
              class="logo"
              routerLink="/">
              <img
                class="img-fluid for-light"
                src="assets/images/logo/logo_posdii.png"
                alt="looginpage"
                width="180px">
              <img
                class="img-fluid for-dark"
                src="assets/images/logo/logo_posdii.png"
                alt="looginpage">
            </a>

          </div>
          <div class="login-main kanit" style="height:450px">

            <h4>Sign in to account {{app_version}} </h4>
            <p>Enter your User & password to login</p>

            <div class="form-group">
              <label class="col-form-label">User</label>

              <input #user_login
                id="user_login"
                class="form-control"
                type="text"
                [disabled]="show_btnGotoApp"
                [(ngModel)]="user"
                >
            </div>

            <div class="form-group">
              <label class="col-form-label">Password</label>

              <input
                class="form-control"
                [type]="show ? 'text' : 'password'"
                required
                [disabled]="show_btnGotoApp"
                [(ngModel)]="password"
                (keydown)="input_keydown()"
                placeholder>

              <!-- <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required" class="text text-danger mt-1">Password is required</div> -->

            </div>

            <div class="form-group mb-0">
              <div class="text-end mt-3">
                <button class="btn btn-primary2 w-100"   
                  (click)="login()"       
                  [disabled]="Button_Disable"
                  [ngStyle]="{'visibility':show_btnSingin ? 'visible' : 'hidden'}" 
                  type="button" >
                  <span> Sign in </span>
                </button>
              </div>
            </div>

            <div class="row m-t-15">

              <ngb-alert [type]="'danger'"
              [hidden]="!show_alert_error"
              [dismissible]="true">
                {{msg_alert}}
              </ngb-alert>

              <ngb-alert [type]="'success'"
              [hidden]="!show_alert_success"
              [dismissible]="true">
               User Password ของท่านถูกต้อง กรุณารอสักครู่..
              </ngb-alert>

            </div>

            <div class="row">

              <label class="form-label" for="validationCustom01"
              [ngStyle]="{'visibility':show_btnGotoApp ? 'visible' : 'hidden'}"            
              >
                กรุณาเลือกสาขาหลักที่จะใช้ข้อมูล
              </label>
     

              <ng-select id="selected_branch"
                class="js-example-placeholder-multiple"
                placeholder="เลือก"  
                editable="true"      
                [ngStyle]="{'visibility':show_btnGotoApp ? 'visible' : 'hidden'}"            
                [(ngModel)]="selected_branch"                                                               
                >
                <ng-option
                *ngFor="let branch of _branch_list"
                [value]="branch">{{branch.wh_name}}</ng-option>

              </ng-select>

            </div>

            <div class="row">
              <label id="check" >{{errorMessage}}  </label>
              <button class="btn btn-primary2 w-100"   
              [ngStyle]="{'visibility':show_btnGotoApp ? 'visible' : 'hidden'}" 
              (click)="GotoApplication()"                     
              type="button" >
              <span> เข้าสู่ระบบ </span>
            </button>

            </div>   
            
            <!-- <div class="row">
              
              <button class="btn btn-primary2 w-100"                 
              (click)="goto()"                     
              type="button" >
              <span> goto </span>
            </button>

            </div>    -->

          </div>

          <div class="row">
            <div class="loader-box" 
              [ngStyle]="{'visibility':show_spinner ? 'visible' : 'hidden'}" >
              <div class="loader-7"></div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
  </div>
</div>
