
.text_end{
  text-align: right;
}

.text_left{
  text-align: left;
}

.text_center{
  text-align: center;
}

.kanit {
  font-family: 'Kanit';  
}

.main_title{
  font-size: 12px;
  text-align: center;
  font-size: 12px;
}

.sub_title{
  font-size: 10px;
}

.content{
  font-size: 10px;
}


.lb_addr{
  font-size: 10px;
}

.tbh {
  border-top: 1px dashed rgb(9, 9, 9);
  border-bottom: 1px dashed rgb(9, 9, 9);
   
  font-weight: normal;
}

.col_num {
  vertical-align: top;
  text-align: right;
  border-bottom: 1px dashed black;
}

.col_pd {
  text-align: left;
  font-size: 10px;
  border-bottom: 1px dashed black;
}


hr.dott  {
  border-top: 1px dashed black;
}