
<app-breadcrumb 
 [title]="'สินค้าคงเหลือ (แยกตามยี่ห้อ/Brand)'" 
 [items]="['Inventory', 'Product','Forms', 'Form Widgets']" 
 [active_item]="'Ngselect'"
 ></app-breadcrumb>

<div class="container-fluid">

  <div class="row">
      <div class="col-sm-12">         

        <div class="card">
          <div class="card-body"> 
            <div class="row">
              <div class="col-sm-3">
                <label class="col-sm-12 col-form-label">วันที่คลังสินค้า/Inventory Date  </label>
                <div class="col-sm-12">
                  
                  <input class="form-control digits" 
                  type="date"                                      
                  [ngModel]="select_date | date:'yyyy-MM-dd'"  
                  (ngModelChange)="select_date = $event"    
                   />
                </div>
                  
              </div>

              <div class="col-sm-3">

                  <div class="mb-3 m-form__group">
                      <label for="exampleFormControlSelect9">เลือกคลังสินค้า</label>
                     
                     
                      <select class="form-control digits" 
                      id="selected_wh" 
                      placeholder="เลือก"
                      [(ngModel)]="selected_wh" 
                      >
                        <option value="0" selected>ทั้งหมด</option>  
                        <option *ngFor="let wh of _inventory_list" [value]="wh.wh_id">
                          {{ wh.wh_name }}
                        </option>                      
                      </select>
                  </div>

              </div>

              <div class="col-sm-3">
                  <div class="mb-3 m-form__group">
                 
                      <label for="exampleFormControlSelect9">ตัวเลือกเพิ่มเติม</label>

                     <ng-select class="js-example-placeholder-multiple" 
                       id="selected_type_rp"
                      [(ngModel)]="selected_type_rp" 
                      placeholder="ระบุการแสดงจำนวนสินค้า"
                      >
                          <ng-option value=""  selected>แสดงทั้งหมด</ng-option>
                          <ng-option value="EXISTS" >  เฉพาะที่มีสินค้าคงเหลือ (Qty > 0) </ng-option>
                          <ng-option value="NONE">  ไม่มีสินค้าในคลัง (Qty = 0)</ng-option>                         
                    </ng-select>
                  </div>
              </div>

            </div>

            <div class="row select2-drpdwn">

              <div class="col-sm-3">

                <div class="mb-3 m-form__group">

                  <div class="col-form-label">เลือกประเภทสินค้า</div>
 
                  <ng-select class="js-example-placeholder-multiple" 
                  placeholder="เลือก" id="selected_category"
                  [(ngModel)]="selected_category" >                    

                    <ng-option [value]="0" >ทั้งหมด</ng-option>
                    <ng-option *ngFor="let cat of _category_list" 
                      [value]="cat.group_id">{{cat.group_name}}
                    </ng-option>
                    
                  </ng-select> 

                </div>

              </div>

              <div class="col-sm-3">
                <div class="mb-3 m-form__group">

                  <div class="col-form-label">เลือกยี่ห้อสินค้า/Brand</div>
 
                  <ng-select class="js-example-placeholder-multiple" 
                  id="selected_brand"
                  placeholder="เลือก" [(ngModel)]="selected_brand"
                  dropdownPosition = "top"
                  >
                    <ng-option [value]="0"  selected>ทั้งหมด</ng-option>
                    <ng-option *ngFor="let brand of _brand_list" 
                      [value]="brand.brand_id">{{brand.brand_name}}
                    </ng-option>
                    
                  </ng-select> 

                  
                </div>
              </div>

              <div class="col-sm-3">
                  <button class="btn btn-primary m-t-30 m-r-15" type="submit" 
                  (click)="onSearch()"
                  >Search</button>
              </div>

            </div>

          </div>


        </div>
      </div>
  </div>
   
  <div class="center_div" >
    
  <div class="loader-box" 
  [style.display]="(numberOfUnreadAlerts == 0) ? 'none' : 'block' ">
    <div class="loader-4"></div>
  </div> 
</div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">              
                <div class="card-body">                     

                    <div class="product-list-custom custom-datatable">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>                                
                                <th scope="col">คลัง/ร้าน/Shop</th>
                                <th scope="col">ประเภทสินค้า/Category</th>
                                <th scope="col">ยี่ห้อ/Brand</th>
                                <th scope="col">รุ่น/Model</th>                                
                                <th class="text-end" scope="col">จำนวน/Qty</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr *ngFor="let product of _vstockcard_list; index as i">
                                <td>
                                  {{ product.wh_name }} 
                                </td>  
                                <td>
                                  {{ product.group_name }} 
                                </td>  
                                <td>
                                    {{ product.brand_name }} 
                                </td>
                                <td>                                  
                                    {{ product.model_name }}
                                </td>                                
                                <td class="text-end">
                                    {{ product.qty | number }}
                                </td>
                                
                              </tr>

                            </tbody>
                          </table>
                        </div>
                    </div><!--./product-list-->

                </div><!--./card-body-->

            </div><!--./card-->
        </div><!--./col-sm-12-->

    </div> <!--./row-->
</div>    <!--./container-fluid-->
