.center_div{
    position:absolute;
    z-index:99;
    width:100%;
  } 

.bg_gray{
  background-color:rgb(233, 231, 231)  ;
}

.pos_table thead tr th {  
  color : #2F9599;
  border-bottom: 2px solid #2F9599;
}
 

