<<<<<<< HEAD

.center_div{
    position:absolute;
    z-index:99;
    width:100%;
  } 

.bg_gray{
  background-color:rgb(233, 231, 231)  ;
}

.pos_table thead tr th {  
  color : #2F9599;
  border-bottom: 2px solid #2F9599;
}
 
=======

.center_div{
    position:absolute;
    z-index:99;
    width:100%;
  } 

.bg_gray{
  background-color:rgb(233, 231, 231)  ;
}

.pos_table thead tr th {  
  color : green;
  border-bottom: 2px solid #6EC566;
}
>>>>>>> 09b966e9529095b4426bb0d6acb10d072bb90bfa
