<!-- <p>slip works!</p>

<div class="doNotPrint">
    Header is here.
</div>

<div>
    all my beautiful print-related material is here.
</div>

<div class="doNotPrint">
    my footer is here.
    <button (click)="printToCart('Winjung ')">Print</button>
</div> -->

<div id="printSectionId" >
    
    <div style="width:216px;border: 1px solid grey;" >
      <h1>AngularJS Print html templates</h1>
      <form novalidate>
        First Name:
        <input type="text"  class="tb8">
        <br>
        <br> Last Name:
        <input type="text"  class="tb8">
        <br>
        <br>        
        <button (click)="printToCart('printSectionId')" class="button">Print</button>
      </form>
    
    </div>

    <div>
      <br/>
     </div>

</div>